version: "3.6"

services:
  samba:
    environment:
      - USER=YOUR_USER
      - PASS=YOUR_PASS

  jellyfin:
    environment:
      - TZ=Europe/Moscow
      - JELLYFIN_PublishedServerUrl=YOU_DOMAIN_OR_IP #optional
# Raspberry Pi devices:
#    devices:
#      - /dev/vcsm:/dev/vcsm
#      - /dev/vchiq:/dev/vchiq
#      - /dev/video10:/dev/video10
#      - /dev/video11:/dev/video11
#      - /dev/video12:/dev/video12